[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "survival"]
	path = survival
	url = https://github.com/therneau/survival
	shallow = true
	registered = true
